.table-hover tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .table-dark {
    background-color: #343a40;
    color: #fff;
  }
  
  .table-responsive {
    overflow-x: auto;
  }